/* 
    Document   : style
    Created on : 21/02/2013, 08:26:52
    Author     : fernando
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

